<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HOTELITE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main.css" />
    <script src="main.js"></script>
</head>
<body>
        <nav style="margin-bottom: 1em;" class="navbar navbar-expand-lg navbar-dark bg-dark" >
                <a class="navbar-brand" href="/home">HotelLite</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    <% if(!currUser){ %>
                      <li><a href="/login">Login</a></li>
                      <li><a href="/register">Sign Up</a></li>
                    <% }else{ %>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notifications <% if(notifications){%><span class="badge"><%= notifications.length %></span><%}%></a>
                       
                        <ul class="dropdown-menu">
                          <% notifications.forEach(function(notification) { %>                          
                            <li>
                              <a href="/notifications/<%= notification.id %>">
                                <%= notification.username %> added a new hotel
                              </a>
                            </li>
                            <% }); %>
                            <li>
                              <a href="/notifications">View all</a>
                            </li>
                        </ul>
                   
                      </li>
                      <li><a href="#">Signed In As <%= currUser.username %></a></li>
                      <li><a href="/logout">Logout</a></li>
                    <% } %>
                  </form>
                </div>
              </nav>
              <%- include("./msgs.ejs") %>
              
    
